*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: darkcyan;
}
.container{
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.counter{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
button{
  background-color:#FFB10A;
  border: none;
  font-size: 4vw;
  padding: 1vh 3vw;
  color:blueviolet
}
h2{
  font-size: 2vw;
}